@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800");
/****************************************/
/*             Variables                */
/****************************************/
body {
  font-family: 'Open Sans', sans-serif;
  padding: 0; }

.bg-blue {
  background-color: #3178b6; }

.bg-green {
  background-color: #62851e; }

.bg-orange {
  background-color: #e36c09; }

.bg-purple {
  background-color: #5e367d; }

.bg-greenblue {
  background-color: #669694; }

.blue {
  color: #3178b6; }

.darkblue {
  color: #003951; }

.orange {
  color: #e36c09; }

.purple {
  color: #5e367d; }

.green {
  color: #62851e; }

.greenblue {
  color: #669694; }

.btn {
  margin-bottom: 1rem; }

.navbar {
  background-color: rgba(52, 58, 64, 0.1) !important; }
  .navbar img {
    width: 150px;
    margin-right: 20px;
    height: auto;
    -ms-interpolation-mode: bicubic; }
  .navbar .phonenumber {
    font-size: .9em;
    width: 100%;
    text-align: center; }

.small {
  font-size: 1.0rem; }

.scrolldown {
  width: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  border: none; }

main {
  background-color: #efefef;
  padding-bottom: 20px; }

.jumbotron {
  background-color: #ffffff;
  background-image: url(../images/istockphoto-501713762-2048x2048.jpg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-position-x: 210%;
  height: 300px;
  margin-bottom: 0; }
  .jumbotron h1 {
    font-weight: 800;
    width: 50%;
    line-height: 1.1em;
    font-size: 1.25rem; }

.banner {
  background-color: #3178b6;
  color: #ffffff;
  padding: 10px; }
  .banner h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    letter-spacing: .05em; }

.coverages .col-lg {
  padding: 0;
  margin: 5px 10px;
  text-align: center; }
  .coverages .col-lg .h2 {
    font-size: 1.0rem;
    color: #ffffff;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.2);
    padding: .2rem 0; }
    .coverages .col-lg .h2 div {
      padding: 1rem;
      text-align: left; }
  .coverages .col-lg p {
    padding: .2rem 1rem;
    text-align: left;
    color: #fff;
    margin-bottom: 50px; }
  .coverages .col-lg .btn {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 20px;
    max-width: 150px;
    margin: 0 auto; }

.secondary-page {
  padding-top: 30px;
  padding-bottom: 30px; }
  .secondary-page h1 {
    margin: 0 0 30px; }
  .secondary-page h2 {
    font-weight: 700; }
  .secondary-page #accordion h5 {
    font-size: 1rem; }
  .secondary-page .sidebar {
    padding: 20px;
    background-color: #f9f9f9; }
  .secondary-page .card-header {
    cursor: pointer; }

footer {
  padding: 20px 0 0;
  font-size: .75rem;
  color: #666; }

@media (min-width: 380px) {
  .jumbotron {
    background-position: top right;
    background-position-x: 210%; } }
@media (min-width: 576px) {
  .jumbotron {
    background-size: 60%;
    background-position: top right;
    background-position-x: 120%;
    padding: 4rem 2rem 0; }
    .jumbotron h1 {
      font-size: 2em; } }
@media (min-width: 768px) {
  .jumbotron {
    background-size: 60%;
    background-position: top right;
    background-position-x: 125%;
    height: 350px; }
    .jumbotron h1 {
      font-size: 3em;
      width: 65%; }

  .navbar .phonenumber {
    width: auto;
    text-align: right;
    display: inline-block; } }
@media (min-width: 992px) {
  .jumbotron {
    height: 400px; }

  .navbar img {
    width: 250px;
    height: auto;
    -ms-interpolation-mode: bicubic; }
  .navbar .phonenumber {
    font-size: 1em; }

  .coverages .col-lg {
    height: 450px; }
    .coverages .col-lg .h2 {
      height: 25%;
      position: relative; }
      .coverages .col-lg .h2 div {
        position: absolute;
        bottom: 0;
        padding: .5rem 1rem; } }
@media (min-width: 1200px) {
  .jumbotron {
    background-size: 50%;
    background-position-x: 100%;
    background-position-y: 15%;
    height: 450px; }
    .jumbotron h1 {
      font-size: 4em;
      width: 60%; }

  .coverages .col-lg {
    height: 400px; } }

/*# sourceMappingURL=styles.css.map */
