/****************************************/

/*             Variables                */

/****************************************/

$font-stack: Helvetica,
Arial,
"Lucida Grande",
sans-serif;
$font-stack-system: Helvetica,
Arial,
"Lucida Grande",
sans-serif;
$font-stack-headers: Helvetica,
serif;
$primary-color: #0065bd; //blue
$secondary-color: #002060; //darkblue

//colors pulled from https://www.agd.org/

$agd-main-blue: #3178b6;

$agd-blue: #00b0f0;
$agd-darkblue: #002060;
$agd-button-blue:#00709d;
$agd-button-blue-hover:#003951;

body {
    font-family: $font-stack;
    padding: 0;
}

.btn {
    margin-bottom: 1rem;
}

.navbar {
    background-color: rgba(52, 58, 64, .1) !important;

    img {
        width: 150px;
        margin-right: 20px;
        height: 27px;
        -ms-interpolation-mode: bicubic;
    }

    .phonenumber {
        font-size: .9em;
        width: 100%;
        text-align: center;
    }
}

.small {
    font-size: 1.0rem;
}

.scrolldown {
    width: 50px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    border: none;
}

main {
    background-color: #efefef;
    padding-bottom: 20px;
}

.jumbotron {
    background-color: #ffffff;
    background-image: url(../images/904805198.jpg);
    background-size: cover;
    background-position-x: 50%;
    height: 275px;
    margin-bottom: 0;
    overflow: hidden;
    border-radius: 0;

    h1 {
        font-weight: 800;
        width: 70%;
        line-height: 1.1em;
        font-size: 1.7rem;
    }
}

.jumbotron::after {
    content: "";
    background-image: url(../images/curve-interior-ACEP1_bl.svg);
    background-size: 103vw;
    background-repeat: repeat;
    height: 50px;
    width: 100%;
    left: 0;
    position: absolute;
    bottom: 0px;

}

.banner {
    background-color: $primary-color;
    color: #ffffff;
    padding: 10px;

    h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        letter-spacing: .05em;
    }
}

.coverages {
    .col-lg {
        margin: 5px 10px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 0 0 3rem;

        .h2 {
            font-size: 1.0rem;
            color: #ffffff;
            font-weight: 700;
            background-color: rgba(0, 0, 0, .2);
            padding: .2rem 0;

            div {
                padding: 1rem;
                text-align: left;
            }
        }

        p {
            padding: .2rem 1rem;
            text-align: left;
            color: #fff;
        }


        .btn {
            background-color: #ffbd00;
            border: 1px solid #ffbd00;
            position: absolute;
            left: 20px;
            right: 20px;
            bottom: 20px;
            max-width: 150px;
            margin: 0 auto;
            color: #000;
            transition: all .3s ease-in;
            text-transform: uppercase;
            border-radius: 1rem;
            font-weight: bold;
        }

        .btn:hover {
            background-color: rgba(255, 189, 0, 0);
            color: #ffbd00;
        }
    }
}

.secondary-page {
    padding-top: 30px;
    padding-bottom: 30px;

    h1 {
        margin: 0 0 30px;
    }

    h2 {
        font-weight: 700;
    }

    #accordion {
        h5 {
            font-size: 1rem;
        }
    }

    .sidebar {
        padding: 20px;
        background-color: #f9f9f9;
    }

    .card-header {
        cursor: pointer;
    }
}


footer {
    padding: 20px 0 0;
    font-size: .75rem;
    color: #666;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// custom
@media (min-width: 380px) {
    .jumbotron {
        // background-position: top right;
        // background-position-x: 210%;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    .jumbotron {
        // background-size: 60%;
        // background-position: top right;
        // background-position-x: 120%;
        padding: 4rem 2rem 0;

        h1 {
            font-size: 2em;
        }
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .jumbotron {
        // background-size: 60%;
        // background-position: top right;
        // background-position-x: 125%;
        height: 350px;

        h1 {
            font-size: 3em;
            width: 65%;
        }
    }

    .jumbotron::after {
        height: 75px;
    }

    .navbar {
        .phonenumber {
            width: auto;
            text-align: right;
            display: inline-block;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .jumbotron {
        height: 400px;
    }

    .jumbotron::after {
        height: 100px;
    }

    .btn {
        width: 100%;
    }

    .navbar {
        img {
            width: 250px;
            height: 45px;
            -ms-interpolation-mode: bicubic;
        }

        .phonenumber {
            font-size: 1em;
        }
    }

    .coverages {
        .col-lg {
            padding: 0 0 6rem;

            .h2 {
                height: 40%;
                position: relative;

                div {
                    position: absolute;
                    bottom: 0;
                    padding: .5rem 1rem;
                }
            }
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

    .jumbotron {
        // background-size: 50%;
        // background-position-x: 100%;
        // background-position-y: 15%;
        height: 450px;

        h1 {
            font-size: 4em;
            width: 60%;
        }
    }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1500px) {

    .jumbotron::after {
        height: 150px;
    }

}